/* General Start */

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --ko-theme-primary: #8750f7;
    --ko-theme-secondary: #2a1454;
}

html {
    scrollbar-color: rgb(208, 137, 79) var(--ko-theme-secondary);
} 

/* General End */

/* Navbar Start */

.nav-container {
    width: 100%;
    height: 120px;
    background-color: rgba(208, 208, 208, 0.2)
}

.link-container {
    width: 100%;
    display: flex;
    padding: 30px 0px 20px 0px;
}

.nav-links-left {
    display: flex;
    margin-left: 120px;
    width: 40%;
}

.nav-links-left ul li a:hover{
    color: var(--ko-theme-primary)
}

.nav-links-contact {
    margin-right: 120px;
}

.nav-links-contact ul li {
    line-height: 50px;
}

.nav-links-right ul li {
    margin-right: 40px;
    line-height: 50px;
}

.nav-links-right ul li:hover{
    color: var(--ko-theme-primary)
}

.nav-links-left ul li {
    font-size: 17px;
    margin-left: 30px;
    line-height: 50px;

    transition: all .4s ease-in-out;
}

.link-container ul {
    display: flex;
    list-style: none;
}

.link-container ul li a {
    color: var(--ko-theme-secondary);
    text-decoration: none;

    transition: all .2s ease-in;
}

.link-container ul li a:hover{
    color: var(--ko-theme-primary);
}

.nav-links-right {
    width: 50%;
}

.contact-button {
    border: 1px solid var(--ko-theme-primary);
    border-radius: 40px;
    background-color: var(--ko-theme-primary);
    text-align: center;
    width: 120px;
}

.contact-button a {
    color: #fff !important;
}
.logo {
    transition: all .2s ease-in-out;
}
.logo:hover {
    transform: scale(1.1);
}

/* Navbar End */


/* Header Content Start */

.container {
    display: flex;
    margin: 0px 120px 0px 120px;
}

.header-container-wrapper.bg-color {
    background-color: rgba(236, 228, 254, 0.5);
}

.left-header-content {
    height: 590px;
    width: 60%;
}

.context-text {
    padding: 70px;
}

.context-text h1 {
    font-size: 50px;
}

.context-text h3 {
    margin-top: 20px;
    font-size: 50px;
}

.context-text p {
    margin-top: 30px;
    letter-spacing: 2px;
    font-weight:lighter;
}

.link-content {
    margin-top:50px;
    display: flex;
}
.download-cv {
    cursor: pointer;
    color: var(--ko-theme-primary);
    height: 60px;
    width: 200px;
    text-align: center;
    line-height: 60px;
    border-radius: 40px;
    border: 1px solid var(--ko-theme-primary);

    transition: all .2s ease-in-out;
}

.download-cv:hover {
    transform: scale(1.1);
}

.download-cv a i {
    color: var(--ko-theme-primary);
}

.icon-links {
    margin-left: 40px;
    margin-top: 5px;
    display: flex;
}

.icon-wrapper {
    height: 50px;
    margin-right: 15px;
    width: 50px;
    border: 1px solid var(--ko-theme-primary);
    border-radius: 120px;

    transition: all .2s ease-in-out;
}

.icon-wrapper a i {
    color: var(--ko-theme-primary);
}

.icon-wrapper:hover {
    transform: scale(1.1);
}

.icon-links i {
    font-size: 30px;
    margin-left: 10px;
    margin-top: 10px;
}

.right-header-content {
    width: 40%;
    margin-left: 150px;
    margin-top: 35px;
    transform: rotate(5deg);

    transition: all .3s ease;
}

.right-header-content:hover {
    transform: rotate(0deg);
}

.profile-img-wrapper {
    width: 300px;
    margin-top: 50px;
    background-color: black;
    border: 10px solid black;
    border-radius: 20px;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 5px 2px rgba(0,0,0,0.24)
}

.profile-img-wrapper img {
    height: 300px;
    width: 300px;
}
/* Header Content End */

/* Experience and Education Start */

.header-container-wrapper.header-container-wrapper--color-2 {
    background-color: rgb(255, 230, 222, 0.5)
}

.my-experience {
    display: inline-block;
    font-size: 30px;
    width: 50%;
    height: 400px;  
}

.my-experience i {
    color: var(--ko-theme-primary);
    margin-right: 20px;
    font-size: 45px;
}

.my-education {
    display: flex;
    font-size: 30px;
    width: 50%;
    height: 400px;
}

.my-education i {
    color: var(--ko-theme-primary);
    margin-right: 20px;
    font-size: 45px;
}

.my-education h1 {
    color: var(--ko-theme-primary);
}

.edu-exp-container {
    width: 100%;
    height: 790px;
    margin-top: 90px;
    display: flex;
}

.my-experience-header {
    display: flex;
}

.my-experience-header h1 {
    color: var(--ko-theme-primary);
}

.experiment-container {
    margin-top: 20px;
    background-color: #fff;
    width: 450px;
    border-radius: 20px;
    padding: 20px 30px 30px 30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.08),0 3px 6px rgba(0,0,0,0.15);
    
    transition: all .4s ease-in-out;
}

.experiment-container:hover {
    background-color: var(--ko-theme-primary);
    color: #fff;
    transform: rotate(-5deg);
}

.my-experience-title {
    margin-bottom: 10px;
    font-weight: 700;
}

.my-experience-description {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 700;
}

.my-experience-location {
    font-size: 22px;
}
.my-experience-location a {
    text-decoration: none;
    color: var(--ko-theme-secondary);
}

.my-experience-location a:hover{
    color: #fff;
}

/* Experience and Education End */

/* Project CSS Start */

.heading {
    font-weight: 700;
    color: var(--ko-theme-primary);
    margin: 70px;
    text-align: center;
}

.project {
    position: relative;
    margin: 0 auto 30px auto;
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
}
.project-image img {
    float: left;
    margin-right: 20px;
    width: 300px;
    height: 200px;
    border-radius: 15px;
    transition: all .2s ease-in-out;
}

.project-image:hover{
    cursor: pointer;
}

.project {
    width: 100%;
}

.project-title {
    color: var(--ko-theme-primary);
}

.project-link a {
    color: var(--ko-theme-secondary);
    text-decoration: none;
}

.project-link a:hover{
    color: var(--ko-theme-primary);    
}

.project-container {
    margin: 0px 120px 0px 120px;

    margin-bottom: 80px;
}

/* Project CSS End */

/* Contact Start */

.contact-wrapper {
    width: 100%;
    display: flex;
    background-color: rgb(245 245 245);
    margin-bottom: 50px;
}

.contact-form {
    width: 635px;
    height: 587px;
    padding: 50px;
    margin: 50px;
    color: #fff;
    border-radius: 10px;
    background-color: var(--ko-theme-primary);
}

.contact-information {
    width: 50%;
}

.form-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.row {
    margin-bottom: 20px;
}

.send-message {
    color: #dfdfdf ;
    width: 200px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
    background-color: #3800a7;
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 5px 2px rgba(0,0,0,0.24);

    transition: all .3s ease-in-out;
}

.send-message:hover {
    transform: scale(1.02);
    color: #fff;
}

.form-control {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 5px 2px rgba(0,0,0,0.24);

}


.info-col {
    margin-top: 100px;
    display: flex;
}

.info-icon {
    color: var(--ko-theme-primary);
    margin-right: 15px;
    font-size: 40px;
}

.info-title {
    font-size: 18px;
}

.info-context {
    color: var(--ko-theme-primary) !important;
}

/* Contact End */

/* Footer Start */

.footer-container {
    height: 330px; 
    background-color: bisque;
    text-align: center;
}

.footer-menu-links ul li {
    margin-top: 20px;
    display: inline-block;
    margin-right: 45px;
    list-style: none;
}

.footer-menu-links ul li a {
    text-decoration: none;
    color: var(--ko-theme-primary);
}

.footer-logo img {
    margin-top: 40px;
}

.footer-all-rights {
    margin-top: 30px;
}

.go-back-to-top i {
    font-size: 40px;
}

.go-back-to-top a i{
    text-decoration: none;
    color: var(--ko-theme-primary);

    transition: all .4s ease-in-out;
}

.go-back-to-top a i:hover{
    color: linear-gradient(260deg, var(--ko-theme-secondary) 0%, var(--ko-theme-primary) 100%);
}

/* Footer End */

/* Add media query for smaller screens */

@media (max-width: 1300px) {
    .nav-container {
        height: auto; /* Adjust height for smaller screens */
    }
    .edu-exp-container {
        display: block;
        margin-left: 200px;
    }

    .container {
        display: inline-block;
        margin: 0px 120px 0px 120px;
    }

    .profile-img-wrapper img {
        height: 150px;
        width: 150px;
    }

    .profile-img-wrapper {
        width: 300px;
        background-color: black;
        border: 10px solid black;
        border-radius: 20px;
    }

    .left-header-content {
        width: 100%;
    }

    .my-experience {
    }
}


@media (max-width: 1155px) {
    .nav-links-contact {
        display: none;
    }
    .nav-links-right{
        margin-right: 100px;
    }
}

@media (max-width: 913px) {

    .nav-links-right{
        display: none;
    }
    .nav-container {
        width: 900px;
    }
    .edu-exp-container {
        width: 200px;
        height: 790px;
        margin-top: 90px;
    }

}


@media (max-width: 993px) {
    .contact-wrapper {
        display: block ;
        padding: 30px 0px 0px 60px;
    }



}

@media (max-width: 768px) {

    .nav-links-right{
        display: none;
    }
    .nav-container {
        width: 900px;
    }
    .edu-exp-container {
        width: 200px;
        height: 790px;
        margin-top: 90px;
    }
}
